tqdm
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
opencv-python
ffmpegcv
numpy<2.0
python_speech_features
scipy
scenedetect
scikit-learn
gdown
pandas
transformers
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
pyannote-audio==3.1.1
yt-dlp